body {
  background: url(blur.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
}

.board {
  width: 45%;

  margin: 30px auto 30px auto;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-gap: 0px;
}

.square {
  border: 6px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
}

.square:first-child {
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  font-family: sans-serif;
  color: #fc5842;
  font-size: 15vw;
  width: 15%;
  height: 15vw;
  line-height: 15vw;
}

.winner {
  position: absolute;
  top: -2000px;
  width: 100%;
  margin: auto;
  font-size: 10vw;
  font-family: sans-serif;
  color: coral;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
  transition: all 2s;
  transition-timing-function: cubic-bezier(0.42, -0.5, 0, 1.35);
}

.winning {
  top: 2em;
  right: 0;
}

button {
  width: 150px;
  height: 40px;
  background: #fc5842;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 25px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}

button:hover {
  border-radius: 0px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

@media only screen and (max-width: 500px) {
  .board {
    width: 90%;
  }

  .content {
    font-size: 30vw;
    width: 30%;
    height: 30vw;
    line-height: 30vw;
  }

  .winner {
    font-size: 20vw;
  }

  .winning {
    top: 6em;
  }

  button {
    margin-top: 0%;
  }
}
